#login-items {
  margin-top: 3rem;
  margin-left: 0rem;
  display: flex;
  height: auto;
  width: 100%;
}
.login-image {
  width: 100%;
}
.image-part {
  width: 60%;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}
.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

.label {
  position: absolute;
  top: -13px;
  left: 3px;
  background-color: white;
  color: #dadce0;
  font-size: 16px;
  z-index: 10;
}
.input:focus + .label {
  top: -7px;
  left: 3px;
  font-size: 16px;
  font-weight: 600;
  color: blue;
}

.form-elements {
  padding-top: 4rem;
  padding-left: 2rem;
  width: 40%;
}

.login-button {
  width: 90%;
  margin-left: 1rem;
  background-color: blue;
  color: white;
  height: 3rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  font-weight: 300px;
  opacity: 0.5;
}
.login-button:hover {
  background-color: blue;
  opacity: 1;
}
.social-media {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: -3rem;
}
.new-person {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.options {
  position: relative;
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
  margin-top: 0rem;
}

.options:before {
  content: " ";
  display: block;
  height: 2px;
  width: 130px;
  position: absolute;
  top: 50%;
  left: 5rem;
  background: #eeeeee;
}

.options::after {
  content: " ";
  height: 2px;
  width: 130px;
  background: #eeeeee;
  display: block;
  position: absolute;
  top: 50%;
  right: 5rem;
}
